pom.xml
pom.xml.asc
*.jar
*.class
/lib/
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
.cpcache/

# Devenv
.devenv*
devenv.local.nix
process-compose.yml

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml

# direnv
.envrc.private
