{:paths ["src" "resources"]
 :deps
 {org.clojure/clojure               {:mvn/version "1.11.1"}
  org.clojure/spec.alpha            {:mvn/version "0.3.218"}
  org.flywaydb/flyway-core          {:mvn/version "9.17.0"}
  clj-commons/clj-ssh               {:mvn/version "0.5.15"}
  com.github.seancorfield/next.jdbc {:mvn/version "1.3.883"}}}
