{:paths ["src" "resources"]
 :deps
 {org.clojure/clojure               {:mvn/version "1.11.1"}
  org.clojure/spec.alpha            {:mvn/version "0.3.218"}
  org.flywaydb/flyway-core          {:mvn/version "9.17.0"}
  org.clj-commons/clj-ssh           {:mvn/version "0.6.2"}
  org.clojure/tools.logging         {:mvn/version "1.2.4"}
  com.github.seancorfield/next.jdbc {:mvn/version "1.3.883"}}
 :aliases
 {:dev  {:extra-paths ["dev"]}
  :test {:extra-paths ["test"]
         :extra-deps  {io.github.cognitect-labs/test-runner {:git/tag "v0.5.1" :git/sha "dfb30dd"}

                       ;; integration test dependencies
                       hikari-cp/hikari-cp       {:mvn/version "3.0.1"}
                       org.postgresql/postgresql {:mvn/version "42.6.0"}

                       ;; provide slf4j binding so clojure.tools.logging works
                       ch.qos.logback/logback-classic {:mvn/version "1.4.11"}
                       org.slf4j/slf4j-api {:mvn/version "2.0.9"}}
         :main-opts ["-m" "cognitect.test-runner"]
         :exec-fn   cognitect.test-runner.api/test}}}
